@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(49, 51, 56);
  -webkit-text-fill-color: rgb(219, 222, 225);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(49, 51, 56);
    -webkit-text-fill-color: rgb(219, 222, 225);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
